body {
  background-color: rgba(240,240,240,1);
  font-family: inherit;
}

/**************************
Navbar
**************************/

.navbar-default {
  background-color: rgba(55,61,73,0.975);
  border: 0px;
  margin: 25px 0 25px 0;
}

.navbar-default li {
  font-size: 16px;
  letter-spacing: 2.5px;
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

/*.navbar .navbar-collapse {
  text-align: center;
}*/

hr {
  background-color: white;
  border: none;
  height: 1.4px;
  margin-bottom: -4px;
  width: 170px;
}

.hr {
  background-color: white;
  height:100px;
  width: 3px;
}

div.hr p{
  letter-spacing: uppercase;
}